.setter-container {
  width: 100%;
  height: 100%;
  /* padding: 10px 80px; */
  color: white;
}

.rs-calendar-header .rs-calendar-btn-today {
  display: none !important;
}

.rs-calendar-header-month-toolbar {
  display: flex !important;
  margin-left: 15px;
}

.rs-calendar-header-title.rs-calendar-header-title-date {
  font-weight: 700;
  font-size: 37px !important;
  color: #f8f7fa !important;
}

.rs-btn-icon.rs-btn-sm > .rs-icon {
  font-size: 30px !important;
  color: white;
}

/* drop dwon from the date
.rs-calendar-month-dropdown-row-wrapper,
.rs-calendar-month-dropdown-scroll,
.rs-calendar-month-dropdown.show,
.rs-calendar-btn-close {
  display: none !important;
  border: none !important;
} */

.rs-calendar-header-title.rs-calendar-header-title-date:hover {
  background-color: transparent !important;
}

.rs-calendar-header-title.rs-calendar-header-title-date.rs-btn.rs-btn-subtle.rs-btn-sm:hover {
  color: #f8f7fa !important;
}

.rs-calendar-header-backward.rs-btn-icon:hover,
.rs-calendar-header-forward.rs-btn-icon:hover {
  background: linear-gradient(103.18deg, #00fefc -41.67%, #0002fe 141.58%);
  color: white;
}

.rs-btn-subtle:focus {
  background-color: inherit !important;
}

.rs-calendar-table-header-cell-content {
  font-weight: 400;
  font-size: 20px !important;
  color: rgba(248, 247, 250, 0.64) !important;
  padding-right: 10px;
}

.rs-calendar-header-month-toolbar button:nth-child(2) {
  order: 1;
}

.rs-calendar-header-month-toolbar button:nth-child(1) {
  order: 2;
}

.rs-calendar-header-month-toolbar button:nth-child(3) {
  order: 3;
}

.rs-calendar-table-header-cell {
  text-align: end !important;
  padding-right: 5px !important;
}

.rs-calendar-table-row:nth-child(2)
  .rs-calendar-table-cell:nth-child(n + 1):nth-child(-n + 5) {
  background-color: #191933;
}

.rs-calendar-table-row:nth-child(3)
  .rs-calendar-table-cell:nth-child(n + 1):nth-child(-n + 5) {
  background-color: #091f14;
}

.rs-calendar-table-row:nth-child(4)
  .rs-calendar-table-cell:nth-child(n + 1):nth-child(-n + 5) {
  background-color: #072733;
}

.rs-calendar-table-row:nth-child(5)
  .rs-calendar-table-cell:nth-child(n + 1):nth-child(-n + 5) {
  background-color: #001c33;
}

.rs-calendar-table-row:nth-child(6)
  .rs-calendar-table-cell:nth-child(n + 1):nth-child(-n + 5) {
  background-color: #018dfd;
}
.rs-calendar-table-row:nth-child(7)
  .rs-calendar-table-cell:nth-child(n + 1):nth-child(-n + 5) {
  background-color: #191933d4;
}

.rs-calendar-panel.rs-calendar-table-cell {
  padding: 0 !important;
}

.rs-calendar-table-cell.rs-calendar-table-cell-selected {
  background-color: var(--main-color) !important;
}

.rs-calendar-table-cell {
  border: 1px solid rgba(58, 57, 67, 1);
  height: 75px !important;
  width: 10px !important;
}

.rs-calendar-table-cell-content {
  text-align: end !important;
  display: flex;
  height: 100% !important;
  width: 100% !important;
}

.rs-calendar.rs-calendar-panel.rs-calendar {
  width: 100% !important;
  height: 100% !important;
}

.rs-calendar-body {
  width: 100% !important;
  padding: 10px 80px !important;
  position: relative;
}

.rs-calendar-table-cell-day {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding-right: 10px;
  text-align: end !important;
  background-color: transparent !important ;
  font-weight: bold;
  font-size: 16px;
  color: white !important;
}

.rs-calendar-table-cell.rs-calendar-table-cell-selected {
  padding: 0 !important;
}

.rs-calendar-table-cell-content:hover {
  background-color: var(--main-color) !important;
}

.setter-container .setter-row-0 {
  top: 240px;
}
.setter-container .setter-row-1 {
  top: 315px;
}
.setter-container .setter-row-2 {
  top: 390px;
}
.setter-container .setter-row-3 {
  top: 465px;
}
.setter-container .setter-row-4 {
  top: 540px;
}
.setter-container .setter-row-5 {
  top: 615px;
}
